<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>projectname</title>
  <meta name="description" content="changeme">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
</head>

<body>
</body>

</html>